# This file is part of Qubes+Whonix.
# Copyright (C) 2015 Jason Mehring <nrgaway@gmail.com>
# License: GPL-2+

[Unit]
Description=sets up Qubes-Whonix-Gateway external and internal network interface
## Does nothing on Whonix-Workstation.

DefaultDependencies=no

## There is no iptables.service as of Debian jessie.
#After=iptables.service
#After=qubes-whonix-firewall.service

Before=network.target
Wants=network.target

After=sysinit.target
After=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/qubes-whonix/init/network-proxy-setup
StandardOutput=syslog

[Install]
WantedBy=multi-user.target

## This is important.
## This disables qubes-network.service. Otherwise, the following would run:
## qubes-network.service -> /usr/lib/qubes/init/network-proxy-setup.sh -> /usr/lib/qubes/qubes-setup-dnat-to-ns
## And /usr/lib/qubes/qubes-setup-dnat-to-ns contains:
## (echo "*nat"; echo "$RULE1"; echo "$RULE2"; echo COMMIT) | iptables-restore -n
## Which could interfere with Whonix firewall rules.
Alias=qubes-network.service

## Prevent systemd ordering cycle.
Alias=networking.service
