# This file is part of Qubes+Whonix.
# Copyright (C) 2015 Jason Mehring <nrgaway@gmail.com>
# License: GPL-2+

## Creates status files inside /var/run/qubes-service/. One of these:
## - /var/run/qubes-service/whonix-template
## - /var/run/qubes-service/whonix-gateway
## - /var/run/qubes-service/whonix-workstation

[Unit]
Description=Init Qubes+Whonix services and settings

DefaultDependencies=no
Before=sysinit.target
After=proc-xen.mount systemd-modules-load.service qubes-db.service qubes-sysinit.service

Before=shutdown.target
Conflicts=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/qubes-whonix/init/qubes-whonix-sysinit
StandardOutput=syslog

[Install]
WantedBy=sysinit.target
