## Copyright (C) 2017 - 2018 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

[Unit]
Description=redirect 127.0.0.1:9050 to Whonix-Gateway in Qubes TemplateVM service
Documentation=https://github.com/Whonix/qubes-whonix
ConditionPathExists=/var/run/qubes/this-is-templatevm
After=qubes-sysinit.service
After=qubes-whonix-redirect-9050.socket
Requires=qubes-whonix-redirect-9050.socket

[Service]
ExecStart=/lib/systemd/systemd-socket-proxyd 10.152.152.10:9050
PrivateTmp=yes
