## This file is part of Whonix
## -- and --
## The Qubes OS Project, http://www.qubes-os.org
##
## Copyright (C) 2014 - 2015 Jason Mehring <nrgaway@gmail.com>
## Copyright (C) 2012 - 2015 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: qubes-whonix
Section: admin
Priority: extra
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), faketime, genmkfile, dh-systemd (>= 1.5), python, dh-python, config-package-dev
Homepage: https://github.com/Whonix/qubes-whonix
Vcs-Browser: https://github.com/Whonix/qubes-whonix
Vcs-Git: https://github.com/Whonix/qubes-whonix.git
Standards-Version: 3.9.6

Package: qubes-whonix
Architecture: all
Depends: qubes-core-agent (>= 2.1.60),
 python-guimessages,
 whonix-setup-wizard,
 ethtool,
 initscripts,
 iptables,
 locales,
 net-tools,
 notify-osd,
 sudo,
 systemd,
 xen-utils-common,
 xinit,
 xsettingsd,
 xdg-user-dirs,
 rsync,
 whonix-gw-firewall | whonix-ws-firewall,
 ${python:Depends},
 ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Recommends: nautilus-open-terminal, gnome-packagekit, gnome-terminal, network-manager (>= 0.8.1-1), network-manager-gnome
Description: Qubes Configuration for Whonix-Gateway and Whonix-Workstation
 This package contains all the scripts and configuration options to be able
 to run Whonix-Gateway and Whonix-Workstation within a Qubes environment.
 .
 Whonix-Gateway should run as a ProxyVM.
 .
 Whonix-Workstation should run as an AppVM.
 .
 Template updates over Tor.

Package: qubes-whonix-shared-packages-recommended
Architecture: all
## python-xdg can be removed from "Depends:" at some point:
## https://github.com/QubesOS/qubes-issues/issues/1102
Depends: nautilus-open-terminal,
 gnome-packagekit,
 gnome-terminal,
 network-manager (>= 0.8.1-1),
 network-manager-gnome,
 gnome-themes-standard,
 xsettingsd,
 libnotify-bin,
 mate-notification-daemon,
 python-nautilus,
 ${misc:Depends}
Description: Recommended packages for Qubes-Whonix-Gateway and Qubes-Whonix-Workstation
 A metapackage, which includes recommended packages to ensure, Qubes-Whonix
 standard tools are available and other useful recommended packages.
 .
 Safe to remove, if you know what you are doing.

Package: qubes-whonix-gateway-packages-recommended
Architecture: all
Depends: network-manager,
 tinyproxy,
 yum,
 yum-utils,
 ${misc:Depends}
Description: Recommended packages for Qubes-Whonix-Gateway
 A metapackage, which installs packages, which are recommended for
 Qubes-Whonix-Gateway.
 .
 Safe to remove, if you know what you are doing.

Package: qubes-whonix-workstation-packages-recommended
Architecture: all
Depends: qubes-thunderbird,
 qubes-gpg-split,
 cups,
 system-config-printer,
 ${misc:Depends}
Description: Recommended packages for Qubes-Whonix-Workstation
 A metapackage, which installs packages, which are recommended for
 Qubes-Whonix-Workstation.
 .
 Feel free to remove, if you know what you are doing.
