## This file is part of Whonix
## -- and --
## The Qubes OS Project, http://www.qubes-os.org
##
## Copyright (C) 2014 - 2015 Jason Mehring <nrgaway@gmail.com>
## Copyright (C) 2012 - 2015 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: qubes-whonix
Section: admin
Priority: extra
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), genmkfile, dh-systemd, python, dh-python, config-package-dev
Homepage: https://github.com/Whonix/qubes-whonix
Vcs-Browser: https://github.com/Whonix/qubes-whonix
Vcs-Git: https://github.com/Whonix/qubes-whonix.git
Standards-Version: 3.9.8

Package: qubes-whonix
Architecture: all
Depends: qubes-core-agent,
 qubesdb-vm,
 whonix-setup-wizard,
 ethtool,
 net-tools,
 sudo,
 systemd,
 rsync,
 whonix-gw-firewall | whonix-ws-firewall,
 curl,
 qubes-core-agent (<< 4.0.0-1) | qubes-core-agent-networking,
 ${python:Depends},
 ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Qubes Configuration for Whonix-Gateway and Whonix-Workstation
 This package contains all the scripts and configuration options to be able
 to run Whonix-Gateway and Whonix-Workstation within a Qubes environment.
 .
 Whonix-Gateway should run as a ProxyVM.
 .
 Whonix-Workstation should run as an AppVM.
 .
 Template updates over Tor.

Package: qubes-whonix-shared-packages-recommended
Architecture: all
Depends: qubes-core-agent (<< 4.0.0-1) | qubes-core-agent-passwordless-root,
 ${misc:Depends}
Description: Recommended packages for Qubes-Whonix-Gateway and Qubes-Whonix-Workstation
 A metapackage, which includes recommended packages to ensure, Qubes-Whonix
 standard tools are available and other useful recommended packages.
 .
 Safe to remove, if you know what you are doing.

Package: qubes-whonix-gateway-packages-recommended
Architecture: all
Depends: tinyproxy,
 yum,
 yum-utils,
 qubes-core-agent (<< 4.0.0-1) | qubes-core-agent-dom0-updates,
 ${misc:Depends}
Description: Recommended packages for Qubes-Whonix-Gateway
 A metapackage, which installs packages, which are recommended for
 Qubes-Whonix-Gateway.
 .
 Safe to remove, if you know what you are doing.

Package: qubes-whonix-workstation-packages-recommended
Architecture: all
Depends: qubes-thunderbird,
 qubes-gpg-split,
 qubes-pdf-converter,
 pulseaudio-qubes | qubes-gui-agent (<< 4.0.0),
 ${misc:Depends}
Description: Recommended packages for Qubes-Whonix-Workstation
 A metapackage, which installs packages, which are recommended for
 Qubes-Whonix-Workstation.
 .
 Feel free to remove, if you know what you are doing.
