## Copyright (C) 2015 Jason Mehring <nrgaway@gmail.com>
## License: GPL-2+

## On Whonix-Gateway or Whonix-Workstation (if /run/qubes-service/whonix-gateway or
## /run/qubes-service/whonix-workstation exists),
## - replaces IPs (/usr/lib/qubes-whonix/replace-ips)
##
## If running on Whonix-Gateway (if file status file
## /run/qubes-service/whonix-gateway) exits, and if
## /run/qubes-service/whonix-tor-enable or /run/qubes-service/whonix-tor-disable exists,
## act enable/disable Tor using "DisableNetwork 0" / "DisableNetwork 1" accordingly using Tor config.

[Unit]
Description=Qubes-Whonix post init
Documentation=https://github.com/Whonix/qubes-whonix
ConditionPathExists=|/run/qubes-service/whonix-gateway
ConditionPathExists=|/run/qubes-service/whonix-workstation

## So changes to for example,
## - /usr/share/anon-apps-config/kioslaverc or
## - /home/user/.torchat/torchat.ini are applied before these start.
Before=qubes-gui-agent.service

Before=tor.service
Before=tor@default.service
Before=rinetd.service
Before=onion-grater.service
Before=canary.service
Before=sdwdate.service
Before=anon-ws-disable-stacked-tor.service

## Probably already implicitly added.
After=qubes-whonix-sysinit.service

## For Qubes R3.2 and above.
After=local-fs.target

## Legacy. (Versions lower than Qubes R3.2-rc2)
After=qubes-mount-dirs.service

## Legacy.
## qubes-mount-home.service was renamed to qubes-mount-dirs.service.
## Keeping qubes-mount-home.service because not everyone has updated yet.
## It is crucial to run this service after qubes-mount-[home|dir].service,
## otherwise it would fail.
After=qubes-mount-home.service

[Service]
Type=notify
RemainAfterExit=yes
ExecStart=/usr/lib/qubes-whonix/init/qubes-whonix-postinit

[Install]
WantedBy=multi-user.target
